before_script:
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
  - mkdir -p ~/.ssh && chmod 700 ~/.ssh

stages:
  - deploy
deployToAWS:
  only:
    - fix-deployment-scripts
  stage: deploy
  script:
    - bash deployAWS/deploy.sh
  tags:
    - deploy main
